recursive-include pixiedust templates/*
recursive-include gateway template/*
recursive-include pixiedust templates/*/*
recursive-include pixiedust resources/*
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig