<style type="text/css">
    .navbar-pd-gateway {
        background-color: #264a60;
    }
    .navbar-pd-gateway a {
        color: #FFFFFF;
    }
    .main-content.row {
        margin: 50px 0 0 0;
    }
    .adminOptions {
        min-height: calc(100vh - 50px) !important;
        background-color: #1D3649;
        padding: 50px 0 0 0 !important;
    }
    .adminOptions li {
        border-left: 5px solid #1D3649;
        margin: 0 !important;
    }
    .adminOptions li:hover {
        border-left-color: orange;
    }
    .adminOptions li.active {
        border-left-color: orange;
    }
    .adminOptions li a,
    .adminOptions li a:hover,
    .adminOptions li a:focus {
        background-color: #1D3649 !important;
        color: #FFFFFF;
    }
    .adminOptions li a:active,
    .adminOptions li.active a {
        background-color: #264a60 !important;
        color: #FFFFFF;
    }
    .adminOptions ul {
        padding-left: 0px !important;
    }
    .adminContents {
        padding: 0px !important;
        min-height:200px;
    }
    .admin-content-title {
        padding: 12px 25px;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        border-bottom: solid 1px #e3e1e1;
        background-color: #F5F5F5;
        color: #888888;
        text-align: right;
    }
    .pd-gateway-logo {
        text-align: center;
        padding: 25px;
    }
    #contents {
        padding: 25px;
    }
    .pd-gateway-list,
    .pd-gateway-stats {
        margin: 25px 50px;
    }
    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        line-height: 2.5 !important;
        font-weight: 300 !important;
        letter-spacing: 1px;
        color: #444444 !important;
    }
    .table > thead > tr > th {
        font-weight: 500 !important;
        color: #1D3649 !important;
    }
    .table a {
        color: darkorange;
        font-weight: 500;
    }
</style>
