{%from six import iteritems%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PixieGateway Admin Console</title>
    <meta name="description" content="PixieGateway Admin Console">
    <meta name="author" content="PixieDust">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
.adminOptions a{
    text-decoration:none !important;
}

.adminOptions li:not(.active) a{
    text-decoration:none !important;
    color: initial !important;
}
.adminOptions ul{
    padding-left: 0px !important;
}

.adminContents{
    padding-left:10px;
    min-height:200px;
}
    </style>

    {%include "headLinks.html"%}
</head>
<body>
    {%include "logo.html"%}

    <div class="container" style="width:inherit">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 adminOptions">
                <div>
                    <ul class="nav nav-pills nav-stacked">
                        {%for key, tab in iteritems(tab_definitions)%}
                        <li {%if key==selected_tab_id%} class="active" {%end%}>
                            <a data-toggle="collapse" data-target="#contents" href="/admin/{{key}}">{{tab['name']}}</a>
                        </li>
                        {%end%}
                    </ul>
                </div>
            </div>
            <div class="col-sm-8 adminContents">
                <div id="contents">
                    <div>
                        {% set path = tab_definitions[selected_tab_id]['path'] %}
                        {% set args = tab_definitions[selected_tab_id]['args']() if 'args' in tab_definitions[selected_tab_id] else {} %}
                        {% module Template("template/" + path, **args) %}
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>  
    </div>
</body>
</html>