<div class="pd-gateway-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>PixieApp Name</th>
                <th>Description</th>
                <th>Notebook Location</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pixieapp_list%}
            <tr>
                <td><a target="_blank" href="/pixieapp/{{p.name}}">{{p.name}}</td>
                <td>{{p.description}}</td>
                <td>{{p.location}}</td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>
