<style>
    .pd-debugger-out {
        margin-top: 8px;
        min-height: 48px;
        overflow: auto;
        padding: 5px 0px;
    }
    .pd-debugger-out .tab-content {
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding: 0;
    }
    .pd-debugger-out .nav-tabs {
        padding-left: 0 !important;
    }
    .pd-debugger-out .nav-tabs > li > a {
        border-radius: 0;
        font-weight: 300;
        color: #333333;
        padding: 8px 10px;
        text-decoration: none;
    }
    .pd-debugger-out .nav-tabs > li.active > a {
        font-weight: 500;
        color: #000000;
        text-decoration: none;
    }
    #variables{{prefix}} {
        border: 1px solid #dddddd;
        max-height: 220px;
        min-height: 100%;
        overflow: auto;
        margin-left: 10px;
        padding: 0;
        width: calc(100% - 10px);
    }
    #value{{prefix}} {
        background-color: #F9F9F9;
        border: 1px solid #dddddd;
        font-size: 14px;
        height: 40px;
        overflow: auto;
        margin-left: 10px;
        padding: 0 2px;
        width: calc(100% - 10px);
    }
    #code{{prefix}} {
        border: 1px solid #dddddd;
        max-height: 275px;
        min-height: 75px;
        overflow: auto;
        position: relative;
    }
    .pd-debugger-code {
        display: flex;
    }
    .pd-debugger-code,
    .pd-debugger-vars {
        padding: 0;
    }
    .pd-debugger-code code,
    .pd-debugger-vars code {
        background-color: transparent;
        padding: 0;
        white-space: pre;
    }
    .pd-debugger-gutter {
        background-color: #F7F7F7;
        border-right: 1px solid #dddddd;
        display: inline-block;
        padding: 5px 0px;
        text-align: right;
    }
    .pd-debugger-source {
        display: inline-block;
        flex: 1;
        padding: 5px 0px;
    }
    .pd-debugger-gutter > div,
    .pd-debugger-source > div {
        padding: 0px 8px;
    }
    .pd-debugger-source .current-line,
    .pd-debugger-gutter .current-line:not(.error-line) {
        background-color: rgba(66, 165, 245, 0.2);
    }
    .pd-debugger-source .error-line:not(.current-line),
    .pd-debugger-gutter .error-line {
        background-color: #fdaeb7;
    }

    .pd-debugger-vars table {
        table-layout: auto;
        border-collapse: collapse;
        width: 100%;
    }
    .pd-debugger-vars table {
        font-size: 13px;
        font-weight: 200;
    }
    .pd-debugger-vars table thead {
        border-bottom: 1px solid #ddd;
    }
    .pd-debugger-vars table tr {
        cursor: pointer;
    }
    .pd-debugger-vars table th {
        color: #333333;
        font-size: small;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: normal;
        padding: 20px 0 0 0;
    }
    .pd-debugger-vars table td {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .pd-debugger-vars table th:last-child {
        width: calc(100% - 15px);
    }
    .pd-debugger-vars table td:first-child,
    .pd-debugger-vars table th:first-child {
        padding-left: 4px;
        text-align: left;
    }
    .pd-debugger-vars table td:last-child,
    .pd-debugger-vars table th:last-child {
        padding-right: 4px;
        text-align: right;
    }
    #console_output_{{prefix}} {
        min-height: 82px;
        padding: 10px;
    }
    #evaluate_{{prefix}} {
        min-height: 48px;
        padding: 10px;
    }
    #evaluate_output_{{prefix}} input {
        border-color: #ddd !important;
        border-bottom: 0 none !important;
        border-left: 0 none !important;
        border-radius: 0 !important;
        box-shadow: initial !important;
        padding-left: 17px;
        background-color: #F9F9F9;
        height: 34px;
        font-family: monospace;
    }

    #evaluate_output_{{prefix}} .fa-angle-right {
        position: absolute;
        left: 4px;
        top: 4px;
        z-index: 10;
    }
    #evaluate_output_{{prefix}} button {
        border-right: 0 none;
        border-radius: 0;
        font-size: 14px;
    }
</style>
<script>
    var formatCodeOutput = function(output) {
        var lines = output.split(/\r?\n/)
        var gutter = []
        var source = []
        for (var i=0; i<lines.length; i++) {
            var parts = lines[i].match(/(\s*\d+\s\s)(.+)/)
            var rowclass = ''
            if (parts) {
                if (parts[2].search(/->/) === 0) {
                    parts[2] = parts[2].replace(/->/, '')
                    rowclass += 'current-line'
                }
                if (parts[2].search(/>>/) === 0) {
                    parts[2] = parts[2].replace(/>>/, '')
                    rowclass += ' error-line'
                }
                gutter.push('<div class="' + rowclass + '"><code>' + parts[1].trim() + '</code></div>')
                source.push('<div class="' + rowclass + '"><code>' + (parts[2].substring(1) || '&nbsp;') + '</code></div>')
            }
        }
        for (var j=gutter.length; j<5; j++) {
            gutter.push('<div>&nbsp;</div>')
            source.push('<div>&nbsp;</div>')
        }
        setTimeout(function() {
            var current = $('#code{{prefix}} .pd-debugger-code .current-line')
            var codebox = $('#code{{prefix}}')
            if (current.length && (current.position().top + 25 > codebox.height() || current.position().top < 0)) {
                codebox.scrollTop(current.position().top < 0 ? 0 : current.position().top)
            }
        }, 200)
        return '<div class="pd-debugger-code"><div class="pd-debugger-gutter">' + gutter.join('') + '</div><div class="pd-debugger-source">' + source.join('')  + '</div></div>'
    }
    var truncate = function(s){
        if (s.length > 10){
            s = s.substring(0,7) + "...";
        }
        return s.replace(/</g,"&lt;").replace(/>/g,"&gt;");
    }
    var formatVariablesOutput = function(output) {
        var variables = "";
        output = output.trim();
        try{
            variables = JSON.parse(output.replace(/'/g, '"')).sort(function (a, b) { return a.localeCompare(b) });
        }catch(e){
            if (output[0] == "'"){
                output = output.substring(1);
            }
            if (output[output.length - 1] == "'"){
                output = output.substring(0, output.length - 1);
            }
            output = output.replace(/\\'/g, "'").replace(/\\\\/g,'\\');
            variables = JSON.parse(output);
        }
        for (var i=0; i<variables.length; i++) {
            var v = variables[i].split(':');
            variables[i] = '<tr pd_target="value{{prefix}}" pd_options="send_input_reply=' + truncate(v[0]) + '" value="' + v[0] + '"><td><code>' + truncate(v[0]) + '</code></td><td>' + truncate(v[1]) + '</td></tr>'
        }
        return '<div class="pd-debugger-vars"><table role="presentation">' + variables.join('') + '</table></div>'
    }
</script>
<div id="debugger_container_{{prefix}}" style="display:none;margin-bottom:20px;">
    <div class="no_loading_msg" id="input_reply_{{prefix}}">
        <pd_script type="process_output">
            <script type="text/template">
            return '<div pd_render_onload pd_options="send_input_reply=ll" pd_target="code{{prefix}}"></div>'+
            '<div pd_render_onload pd_options="send_input_reply=p json.dumps([\'{}:{}\'.format(key,value) for key,value in locals().items() if not key.startswith(\'_\') and key not in [\'In\',\'Out\']])" pd_target="variables{{prefix}}"></div>'+
            '<div pd_render_onload pd_options="send_input_reply=no_op" pd_target="variables{{prefix}}"></div>';
            </script>
        </pd_script>
    </div>
    <div class="container no_loading_msg" id="debugger{{prefix}}" style="width:100%">
        <div class="row" style="margin-top:30px; display: flex;">
            <div class="col-sm-9">
                <div class="row" style="margin-bottom:3px;">
                    <div class="col-sm-12">
                        {%include resModule + ":toolbar.html"%}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 no_loading_msg" id="code{{prefix}}">
                        <pd_script type="process_output">
                            <script type="text/template">
                                return formatCodeOutput(output);
                            </script>
                        </pd_script>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row" style="font-weight:500;margin:20px 0 0 10px;">Variables</div>
                <div class="row" style="height:calc(100% - 80px);margin-bottom:3px;">
                    <div class="col-sm-12 no_loading_msg" id="variables{{prefix}}">
                        <pd_script type="process_output">
                            <script type="text/template">
                                return formatVariablesOutput(output);
                            </script>
                        </pd_script>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 no_loading_msg" id="value{{prefix}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div pd_render_onload pd_target="console_output_{{prefix}}"> 
    <pd_script>
def pixie_run():
    import pdb
    pdb.set_trace()
{{this.pixieapp_entity|indent(4, indentfirst=True)}}
pixie_run()
    </pd_script>
    {#<target pd_options="send_input_reply=no_op_delay" pd_target="dummy"></target>
    <target pd_options="send_input_reply=clear;answer_input_reply=yes" pd_target="console_output_{{prefix}}"></target>
    <target pd_options="send_input_reply=tbreak method" pd_target="console_output_{{prefix}}"></target>
    <target pd_options="send_input_reply=c" pd_target="debugger{{prefix}}"></target>#}
</div>
<div class="pd-debugger-out">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#console_output_{{prefix}}" aria-controls="console_output_{{prefix}}" role="tab" data-toggle="tab">Console</a></li>
        <li role="presentation"><a href="#evaluate_output_{{prefix}}" aria-controls="evaluate_output_{{prefix}}" role="tab" data-toggle="tab">Evaluate</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active no_loading_msg" id="console_output_{{prefix}}"> </div>
        <div role="tabpanel" class="tab-pane" id="evaluate_output_{{prefix}}">
            <div class="row no_loading_msg" id="evaluate_{{prefix}}"> </div>
            <div class="row">
                <div class="col-sm-12">
                    <i class="fa fa-angle-right fa-2x"></i>
                    <div class="input-group">
                        <input id="evaluate_input_{{prefix}}" type="text" class="form-control" placeholder="Enter an expression" style="border-radius: 0;">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"
                                title="Evaluate the expression in the current context and print its value"
                                pd_target="evaluate_{{prefix}}"
                                pd_options="send_input_reply=p $val(evaluate_input_{{prefix}})">Run</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
