<div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-warning" 
                data-original-title="Resume"
                pd_options="send_input_reply=c">
                <i class="fa fa-play fa-lg"></i>
                Resume
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary" 
                data-original-title="Next"
                pd_target="debugger_refresh"
                pd_options="send_input_reply=n">
                <i class="fa fa-level-down fa-lg"></i>
                Next
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary" 
                data-original-title="Step Into"
                pd_target="debugger_refresh"
                pd_options="send_input_reply=s">
                <i class="fa fa-sign-in fa-lg"></i>
                Step
            </button>
        </div>                            
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary" 
                data-original-title="Up Frame"
                pd_target="debugger_refresh"
                pd_options="send_input_reply=u">
                <i class="fa fa-angle-double-up fa-lg"></i>
                Up Frame
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary" 
                data-original-title="Down Frame"
                pd_target="debugger_refresh"
                pd_options="send_input_reply=d">
                <i class="fa fa-angle-double-down fa-lg"></i>
                Down Frame
            </button>
        </div>
    </div>
</div>