{% if not nested %}
<script>
{% endif -%}
    var global={}
    require(['base/js/dialog'],function(dialog){
        var modal = dialog.modal;
        var modal_obj = modal({
            title: "Pixiedust: {%block title %}Dialog{%endblock%}",
            body: '{%set body%}{%block body%}Pixiedust body{%endblock%}{%endset%}{{body|oneline}}',
            sanitize:false,
            notebook: IPython.notebook,
            {% if not nested %}
            keyboard_manager: IPython.notebook.keyboard_manager,
            {% endif -%}
            buttons: {
                {%block buttons%}
                OK: {
                    class : "btn-primary",
                    click: function() {
                        {%block onOK%}{%endblock%}
                    }
                },
                Cancel: function(){
                    {%block onCancel%}{%endblock%}
                }
                {%endblock%}
            }
        });
        modal_obj.on('shown.bs.modal', function(){
            {%block onDialogShown%}{%endblock%}
        });
    })
{% if not nested %}
</script>
{%block cellOuputHTML%}{%endblock%}
{% endif -%}
