<div class="btn-group" role="group" style="margin-bottom:4px">
    {%for key, menuInfoList in menuTree.iteritems()%}
        {%if menuInfoList|length==1%}
            <a class="btn btn-small btn-default display-type-button" id="menu{{this.getPrefix(menuInfoList[0])}}" title="{{menuInfoList[0]['title']}}">
                <i class="fa {{menuInfoList[0]['icon']}}"></i>
            </a>
            {{this._getMenuHandlerScript(menuInfoList[0])}}
        {%elif menuInfoList|length>1%}
            <div class="btn-group btn-small" style="padding-left: 4px; padding-right: 4px;">
                <a class="btn btn-small display-type-button btn-default" title="{{this.getCategoryTitle(key)}}" style="text-decoration:none">
                    <i class="fa {{this.getCategoryIconClass(key)}}"></i>
                </a>
                <a class="btn btn-small dropdown-toggle btn-default" data-toggle="dropdown">
                    <b class="caret"></b>
                </a>
                <div class="dropdown-menu" role="menu">
                    <div class="row-fluid" style="width: 220px;">
                        <ul class="span6 multicol-menu">
                        {%for menuInfo in menuInfoList%}
                            <li>
                                <a href="#" class="display-type-button" id="menu{{this.getPrefix(menuInfo)}}" style="text-decoration:none">
                                    <i class="fa {{menuInfo['icon']}}"></i>
                                    {{menuInfo['title']}}
                                </a>
                                {{this._getMenuHandlerScript(menuInfo)}}
                            </li>
                        {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>
        {%endif%}
    {%endfor%}
</div>
<div id="wrapperJS{{this.getPrefix()}}"></div>
<div id="wrapperHTML{{this.getPrefix()}}" style="min-height:100px">