{%extends "basedialog.html"%}
{%import "commonExecuteCallback.js" as commons%}

{%block title %}Stash data to Cloudant{%endblock%}

{%block body%}
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="control-label col-sm-3" for="pwd">Cloudant Connection:</label>
        <div class="col-sm-9" >
            <div class="input-group" id="service-connection-group" style="width:100%" > 
                <a class="btn btn-default dropdown-toggle btn-select" id="service-connection" style="width:100%" data-toggle="dropdown" href="#">
                    Select a Service connection
                    <span class="caret"></span>
                </a>
                <span class="input-group-addon" id="add-service-connection" style="cursor:pointer">+</span>
                <ul class="dropdown-menu" style="width:100%" >
                    {%for connection in connections%}
                        <li><a href="#">{{connection.name}}</a></li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">Database:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="dbName" readonly value="{{dbName}}">
        </div>
    </div>
</form>
{%endblock%}

{%block onOK%}
if ( !global.selectedConn){
    alert("you must select a cloudant connection");
    return false;
}
{% call(results) commons.ipython_execute(this._genDisplayScript(addOptionDict={'dbName':dbName}),prefix,extraCommandOptions="{'connection':global.selectedConn}") %}
    $('#results{{prefix}}').html({{results["error"] or results}});
    $('#loading{{prefix}}').css('display','none');
{% endcall %};
{%endblock%}

{%block onDialogShown%}
$("#service-connection-group .dropdown-menu li a").click(function(){
    global.selectedConn = $(this).text();
    $('#service-connection').html($(this).text()+' <span class="caret"></span>');
});
$("#add-service-connection").click(function(){
    var addNewConnCallback=function(newConn){
        newConn = newConn.trim()
        global.selectedConn = newConn;
        $('#service-connection').html(newConn+' <span class="caret"></span>');
        $("#service-connection-group .dropdown-menu").append('<li><a href="#">'+newConn+'</a></li>');
    }
    {%include module + ":addNewConnection.dialog" %}
});
{%endblock%}

{%block cellOuputHTML%}
<div id="loading{{prefix}}" style="display:none">
    <div style="width:100px;height:60px;left:47%;position:relative">
        <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px"></i>
    </div>
    <div style="text-align:center">Stashing your data in Cloudant. Please wait...</div>
</div>
<div id="results{{prefix}}"></div>
{%endblock%}