<script>
$("#mapOptions{{prefix}}").click(function(){
    {%include resModule + ":chartOptions.dialog" %}
});
$("#downloadSVG{{prefix}}").click(function(){
    if ( $("svg.mpld3-figure") && $("svg.mpld3-figure")[0] ) {
        var svg = $("svg.mpld3-figure")[0].outerHTML;
        var URL = (window.webkitURL || window.URL);
        var url = URL.createObjectURL(new Blob([svg], {type : "image/svg+xml"}));
        var a = document.createElement('a');
        a.innerHTML = "graphic.svg";
        a.href = url;
        a.download = "graphic.svg";
        a.click();
    } else {
        alert("No SVG graphic found.");
    }
});
</script>
<button id="mapOptions{{prefix}}">Options</button>
<button id="downloadSVG{{prefix}}">Download SVG</button>