{%extends "chartOptionsDialogBody.html"%}

{%block customFormFields%}
<div class="form-group">
	<label># of Rows to Display:</label>
	<input class="form-control" name="rowCount" type="number" min="1" max="100" value="{{this.options.get("rowCount") or 100}}">
</div>
<div class="form-group">
	<label>Columns to Display:</label>
	<select class="form-control" name="selectedColumns" style="margin-left: 0px;">
		<option>ALL</option>
		{%for colName in colNames%}
		<option value="{{colName}}"{{' selected' if this.options.get("selectedColumns") == colName}}>{{colName}}</option>
		{%endfor%}
	</select>
</div>
{%endblock%}